.home-page {
    background-color: $black;
    min-height: 100vh;
    position: relative;

    .background-cover {
        z-index: 0;
    }

    &__content {
        position: absolute;
        z-index: 50;
        outline: 1px solid red;
    }
}